body{
    background-color: rgba(253, 236, 215, 0.769);
}

h1{
    font-family: 'Playfair Display', serif !important;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

p{
    font-family: 'Young Serif', serif;
}