:root{
    --branding-color: #8a6edf;
    --secondary-color: #f9f7fe;
}
body{
    background-color: var(--secondary-color);
}

h1{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

h2{
    text-align: center;
}

p{
    font-family: 'Young Serif', serif;
}

footer{
    text-align: center;
}

.contact-button{
    background-color: var(--branding-color);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    display: block;
    margin: 5px auto;
    max-width: 30%;
    font-size: 18px;
}