:root{
    --branding-color: #8a6edf;
    --secondary-color: #f9f7fe;
    --headinf-font-family: 'Playfair Display', serif;
    --default-font-family: 'Young Serif', serif;
}
body{
    font-family: var(--default-font-family);
}

h1{
    font-family: var(--headinf-font-family);
    font-weight: bold;
    font-size: 50px;
    line-height: 1.5;
}

h2{
    font-family: var(--headinf-font-family);
}

p{
    text-align: center;
    font-weight: normal;
}

footer{
    margin: 20px 10px;
    text-align: center;
}

.header{
    padding: 20px 10px;
    text-align: center;
    background-color: var(--secondary-color);
}

.contact-button{
    background-color: var(--branding-color);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    display: block;
    margin: 25px auto;
    max-width: 30%;
    font-size: 18px;
}

.main-content{
    padding: 150px 30px;
}

.main-content h2{
    font-size: 35px;
    font-weight: 800;
}

.main-content p{
    line-height: 1.7;
    font-size: 18px;
    font-weight: 300;
    opacity: 70%;
}

.app-button{
    background-color: var(--branding-color);
    border-radius: 4px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 10px;
    display: block;
    margin: 5px auto;
}

.about-img{
    max-width: 300px;
}

@media(max-width:980px){
    h1{
        font-size: 30px;
    }

    h2{
        font-size: 15px;
    }

    .header{
        padding: 30px 10px;
    }

    .main-content{
        padding: 0;
        text-align: center;
    }

    .main-content p{
        font-size: 13px;
    }
}